<div class="row">
	<div class="col-12 py-5">
		<h4>Formulaire de réservation</h4>
	</div>
</div>

<div class="row">
	<form class="col-12" action="" method="post">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<a class="nav-link text-dark active" id="step1-tab" data-toggle="tab" href="#step1" role="tab" aria-controls="step1"
					aria-selected="true">Etape n°1 - Destination</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link text-dark" id="step2-tab" data-toggle="tab" href="#step2" role="tab" aria-controls="step2"
					aria-selected="false">Etape n°2 - Liste des voitures</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link text-dark" id="step3-tab" data-toggle="tab" href="#step3" role="tab" aria-controls="step3"
					aria-selected="false">Etape n°3 - Récapitulation</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link text-dark" id="step4-tab" data-toggle="tab" href="#step4" role="tab" aria-controls="step4"
					aria-selected="false">Etape n°4 - Paiement</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="step1" role="tabpanel" aria-labelledby="step1-tab">
				<div class="row mt-5 mb-3">
					<div class="col-md-8 mx-auto">
						<div class="row showcase_row_area">
							<div class="col-md-3 showcase_text_area">
								<label>Ville de départ</label>
							</div>
							<div class="col-md-9 showcase_content_area">
								<input type="text" name="departure" id="" class="form-control">
							</div>
						</div>
						<div class="row showcase_row_area">
							<div class="col-md-3 showcase_text_area">
								<label>Ville d'arrivée</label>
							</div>
							<div class="col-md-9 showcase_content_area">
								<input type="text" name="arrival" id="" class="form-control">
							</div>
						</div>
						<div class="row showcase_row_area">
							<div class="col-md-3 showcase_text_area">
								<label>Autres options</label>
							</div>
							<div class="col-md-9 showcase_content_area">
								<div class="form-group">
									<div class="checkbox">
										<label>
											<input type="checkbox" class="form-check-input"> Adultes <i
												class="input-frame"></i>
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" class="form-check-input"> Enfants - bébés <i
												class="input-frame"></i>
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" class="form-check-input"> Valises <i
												class="input-frame"></i>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="offset-3 col-6">
								<a href="" class="btn btn-block btn-primary">Valider</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="step2" role="tabpanel" aria-labelledby="step2-tab">
				<div class="row mt-5 mb-3">
					<div class="col-md-12 mx-auto">
						<div class="row showcase_row_area">
							<div class="col-md-12 mx-auto" ng-app="myapp">
								<table class="table table-striped ng-data-table" style="width:100%">
									<thead>
										<tr>
											<th>Matricule</th>
											<th>Places</th>
											<th>Constructeur</th>
											<th>Modèle</th>
											<th>Type</th>
											<th>Essence</th>
											<th>Couleur</th>
											<th>Dispo.</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<% cars.forEach((car)=> { %>
											<tr>
												<td>
													<%= car.vin %>
												</td>
												<td>
													<%= car.seats %>
												</td>
												<td>
													<%= car.manufacturer %>
												</td>
												<td>
													<%= car.model %>
												</td>
												<td>
													<%= car.type %>
												</td>
												<td>
													<%= car.fuel %>
												</td>
												<td>
													<%= car.color %>
												</td>
												<td>
													<%= locked = car.locked==true ? 'Indisponible' : 'Disponible' %>
												</td>
												<td>
													<% if(locked.car == false) { %>
														<button class="btn btn-xs btn-success">Choisir</button>
													<% } else { %>
														<button class="btn btn-xs btn-success" disabled>Choisir</button>
													<% } %>
												</td>
											</tr>
											<% }) %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="step3" role="tabpanel" aria-labelledby="step3-tab">
				<div class="row mt-5 mb-3">
					<div class="col-md-8 mx-auto">
						<h6 class="mb-3">Informations sur le trajet</h6>

						<div class="form-group row showcase_row_area">
							<div class="col-md-3 showcase_text_area">
								<label for="">Ville de départ</label>
							</div>
							<div class="col-md-9 showcase_content_area">
								<input type="text" class="form-control" id="" value="" readonly="readonly">
							</div>
						</div>
						<div class="form-group row showcase_row_area">
							<div class="col-md-3 showcase_text_area">
								<label for="">Ville d'arrivée</label>
							</div>
							<div class="col-md-9 showcase_content_area">
								<input type="email" class="form-control" id="" value="" readonly="readonly">
							</div>
						</div>
						<div class="form-group row showcase_row_area">
							<div class="col-md-3 showcase_text_area">
								<label for="">Distance du trajet</label>
							</div>
							<div class="col-md-9 showcase_content_area">
								<input type="email" class="form-control" id="" value="" readonly="readonly">
							</div>
						</div>
						<div class="form-group row showcase_row_area">
							<div class="col-md-3 showcase_text_area">
								<label for="">Véhicule</label>
							</div>
							<div class="col-md-9 showcase_content_area">
								<input type="email" class="form-control" id="" value="" readonly="readonly">
							</div>
						</div>

						<h6 class="mb-3">Informations sur le client</h6>

						<div class="form-group row showcase_row_area">
							<div class="col-md-3 showcase_text_area">
								<label for="">ID</label>
							</div>
							<div class="col-md-9 showcase_content_area">
								<input type="email" class="form-control" id="" value="" readonly="readonly">
							</div>
						</div>
						<div class="form-group row showcase_row_area">
							<div class="col-md-3 showcase_text_area">
								<label for="">Nom</label>
							</div>
							<div class="col-md-9 showcase_content_area">
								<input type="email" class="form-control" id="" value="" readonly="readonly">
							</div>
						</div>
						<div class="form-group row showcase_row_area">
							<div class="col-md-3 showcase_text_area">
								<label for="">Prénom</label>
							</div>
							<div class="col-md-9 showcase_content_area">
								<input type="email" class="form-control" id="" value="" readonly="readonly">
							</div>
						</div>

						<h6 class="mb-3">Coût du trajet</h6>

						<div class="form-group row showcase_row_area">
							<div class="col-md-1 showcase_text_area">
								<h5>€</h5>
							</div>
							<div class="col-md-11 showcase_text_area">
								<input type="text" class="form-control" value="1200">
							</div>
						</div>

						<div class="form-group row showcase_row_area mt-4">
							<div class="col-md-12 showcase_text_area">
								<a href="" class="btn btn-block btn-primary">Procéder au
									paiement</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="step4" role="tabpanel" aria-labelledby="step4-tab">
				<div class="row mt-5 mb-3">
					<div class="col-md-12 mx-auto">
						<div class="row showcase_row_area">
							<div class="offset-3 col-6">
								<button type="submit" class="btn btn-block btn-primary">Sauvegarder la
								réservation</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
